# Decistion Tree implement

In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd
%matplotlib inline
%matplotlib notebook

In [2]:
import sklearn.model_selection as train_test_split

## 1. Data preparation

In [3]:
import re

In [6]:
path=r"C:\Users\Tsymbal Group Member\OneDrive - University of Nebraska-Lincoln\coursera\machine_learning\section3\week3"

In [8]:
path

'C:\\Users\\Tsymbal Group Member\\OneDrive - University of Nebraska-Lincoln\\coursera\\machine_learning\\section3\\week3'

In [9]:
loans = pd.read_csv(path+'\\data.csv',delimiter=',')

loans.head(5)

C:\Users\Tsymbal Group Member\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1.0,1.0,1.0,0,8.14350,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,1.0,0,8.25955,20141201T000000,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,0.2,1.0,1.0,1.0,0,8.27585,20141201T000000,0,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,0.8,1.0,1.0,1.0,0,5.21533,20141201T000000,1,1,1

In [10]:
loans['safe_loans'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)
loans['safe_loans'].head(5)

0    1
1   -1
2    1
3    1
4    1
Name: safe_loans, dtype: int64

In [11]:
features = ['grade',              # grade of the loan
            'term',               # the term of the loan
            'home_ownership',     # home_ownership status: own, mortgage or rent
            'emp_length',         # number of years of employment
           ]
target = 'safe_loans'
loans = loans[features + [target]]

In [12]:
loans.head(10)

  grade        term home_ownership emp_length  safe_loans
0     B   36 months           RENT  10+ years           1
1     C   60 months           RENT   < 1 year          -1
2     C   36 months           RENT  10+ years           1
3     C   36 months           RENT  10+ years           1
4     A   36 months           RENT    3 years           1
5     E   36 months           RENT    9 years           1
6     F   60 months            OWN    4 years          -1
7     B   60 months           RENT   < 1 year          -1
8     C   60 months            OWN    5 years           1
9     B   36 months            OWN  10+ years           1

### 1.2 Transform categorical data into binary feature

For simplicity, we only consider the binary decision tree, so that we have to convert all the categorical data into binary value

In [44]:
loans_df=pd.get_dummies(loans,columns=features).astype(int)

In [45]:
loans_df.head()

,safe_loans,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,term_ 36 months,term_ 60 months,...,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,emp_length_n/a
0,1,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,-1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [47]:
len(loans_df.columns)

26

### 1.3 Train Test split

In [24]:
path_idx=r"C:\Users\Tsymbal Group Member\OneDrive - University of Nebraska-Lincoln\algorithem\My_ML"

In [25]:
import json

with open(path_train+"\\module-5-assignment-2-train-idx.json") as json_data:
    train_idx = json.load(json_data)
    
with open(path_train+"\\module-5-assignment-2-test-idx.json") as json_data:
    test_idx = json.load(json_data)

In [48]:
train_df=loans_df.iloc[train_idx]

In [56]:
test_df=loans_df.iloc[test_idx]

In [58]:
train_df.head(5)

,safe_loans,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,term_ 36 months,term_ 60 months,...,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,emp_length_n/a
1,-1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
6,-1,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
7,-1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
10,-1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
12,-1,0,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [59]:
test_df.head(5)

,safe_loans,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,term_ 36 months,term_ 60 months,...,emp_length_2 years,emp_length_3 years,emp_length_4 years,emp_length_5 years,emp_length_6 years,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,emp_length_n/a
24,-1,0,0,0,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
41,-1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
60,-1,0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
93,-1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
132,-1,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [71]:
features=list(train_df.columns)
features=features[1:]

In [72]:
features

['grade_A',
 'grade_B',
 'grade_C',
 'grade_D',
 'grade_E',
 'grade_F',
 'grade_G',
 'term_ 36 months',
 'term_ 60 months',
 'home_ownership_MORTGAGE',
 'home_ownership_OTHER',
 'home_ownership_OWN',
 'home_ownership_RENT',
 'emp_length_1 year',
 'emp_length_10+ years',
 'emp_length_2 years',
 'emp_length_3 years',
 'emp_length_4 years',
 'emp_length_5 years',
 'emp_length_6 years',
 'emp_length_7 years',
 'emp_length_8 years',
 'emp_length_9 years',
 'emp_length_< 1 year',
 'emp_length_n/a']

## 2. Implement Decistion Tree algorithm

In [78]:
## This is the first help function

class TreeNode(object):
    
    ## This is the Tree node when we are building the decision tree
    
    def __init__(self,feature_name=None,left_tree=None,right_tree=None,is_leaf=True,prediction=0):
        self.feature_name=feature_name
        self.left_tree=left_tree
        self.right_tree=right_tree
        self.is_leaf=is_leaf
        self.prediction=prediction

### 2.1 Splitting the node

The most important question we need to consider is how to split the tree. In our case, we consider a simple method, that if a feature gives the less error then it is the most appropriate feature

In [13]:
## find minority target as error

def find_mistake(target):
    if len(target)==0:
        return 0
    
    else:
        positive=np.sum([i for i in target if i>0])
        
        negative=np.sum([abs(i) for i in target if i<=0])
        
        if positive>negative:
            mistake=negative
        else:
            mistake=positive
        
        return mistake

In [14]:
# Test case 1
example_labels = np.array([-1, -1, 1, 1, 1])
if find_mistake(example_labels) == 2:
    print ('Test passed!')
else:
    print ('Test 1 failed... try again!')

# Test case 2
example_labels = np.array([-1, -1, 1, 1, 1, 1, 1])
if find_mistake(example_labels) == 2:
    print ('Test passed!')
else:
    print ('Test 2 failed... try again!')
    
# Test case 3
example_labels = np.array([-1, -1, -1, -1, -1, 1, 1])
if find_mistake(example_labels) == 2:
    print ('Test passed!')
else:
    print ('Test 3 failed... try again!')

Test passed!
Test passed!
Test passed!

In [15]:
## find the best feature for the splitting

def find_feature(dataset,features,target):
    best_feature=None   ## initialize the best feature 
    mini_error=10       ## find the error parameters
    
    num_of_data=dataset.shape[0]
    
    ## loop over all 
    for feature in features:
        
        ## potential left data if splitted
        left_split=dataset[dataset[feature]==1]
        
        ## potential right data if splitted
        right_split=dataset[dataset[feature]==0]
        
        ## the left error
        left_mistake=find_mistake(left_split[target])
        ## the right error
        right_mistake=find_mistake(right_split[target])
        
        ## total error
        error=float(left_mistake+right_mistake)/num_of_data
        
        if error<mini_error:
            mini_error=error
            best_feature=feature
    
    return best_feature

In [77]:
if find_feature(train_df, features, 'safe_loans') == 'term_ 36 months':
    print ('Test passed!')
else:
    print ('Test failed... try again!')

Test passed!

### 2.2 Build Tree

We first construct the tree based on the recursive function. 
We have provided a function that learns the decision tree recursively and implements 3 stopping conditions:
1. **Stopping condition 1:** All data points in a node are from the same class.
2. **Stopping condition 2:** No more features to split on.
3. **Additional stopping condition:** In addition to the above two stopping conditions covered in lecture, we will also consider a stopping condition based on the **max_depth** of the tree. By not letting the tree grow too deep, we will save computational effort in the learning process.

In [91]:
## Help function to calculate the prediction on each node

def prediction(target_values):
    num_ones = len(target_values[target_values == +1])
    num_minus_ones = len(target_values[target_values == -1])
    
    res=0
    if num_ones > num_minus_ones:
        res = 1         
    else:
        res = -1        
     
    return res

In [92]:
def build_tree(dataset,features,target,current_depth=0,max_depth=10):
    
    ## Initialize the function and related dataset
    rest_features=features[:]
    target_values=dataset[target]
    
    print ("--------------------------------------------------------------------")
    print ("Subtree, depth = %s (%s data points)." % (current_depth, len(target_values)))
    
    ## The stop condition of the recursive function
    
    ## stopping condition 1:
    if find_mistake(target_values)==0:
        ## This condition means all the data in the node has the same target value and there is no mistake. Perfect split!!
        print ("Stopping condition 1 reached.")  
        return TreeNode(feature_name=None,left_tree=None,right_tree=None,is_leaf=True,prediction=prediction(target_values))
    
    ## stopping condition 2:
    if len(rest_features)==0:
        ## This condition indicates that there is no feature left to split
        print ("Stopping condition 2 reached.")
        return TreeNode(feature_name=None,left_tree=None,right_tree=None,is_leaf=True,prediction=prediction(target_values))
    
    ## stopping condition 3:
    if current_depth >= max_depth :  ## YOUR CODE HERE
        print ("Reached maximum depth. Stopping for now.")
        # If the max tree depth has been reached, make current node a leaf node
        return TreeNode(feature_name=None,left_tree=None,right_tree=None,is_leaf=True,prediction=prediction(target_values))
    
    
    ## Now consider how to work on the function. This is the main part of the function
    best_feature=find_feature(dataset,features,target)
    
    ## left split dataset:
    left_split=dataset[dataset[best_feature]==0]
    ## right split dataset:
    right_split=dataset[dataset[best_feature]==1]
    
    rest_features.remove(best_feature)
    print ("Split on feature %s. (%s, %s)" % (\
                      best_feature, len(left_split), len(right_split)))
    
    if (left_split.shape[0]==dataset.shape[0]):
        ## this condition means that all the left branch has the same feature value, so there is no more data left for right branch
        print ("Creating leaf node.")
        return TreeNode(feature_name=None,left_tree=None,right_tree=None,is_leaf=True,prediction=prediction(target_values))
    
    if (right_split.shape[0]==dataset.shape[0]):
        print ("Creating leaf node.")
        return TreeNode(feature_name=None,left_tree=None,right_tree=None,is_leaf=True,prediction=prediction(target_values))
    
    ## move to the left branch:
    left_tree=build_tree(left_split,rest_features,target,current_depth+1,max_depth)
    ## move to the right branch:
    right_tree=build_tree(right_split,rest_features,target,current_depth+1,max_depth)
    
    return TreeNode(feature_name=best_feature,left_tree=left_tree,right_tree=right_tree,is_leaf=False,prediction=0)

In [93]:
def count_nodes(tree):
    if tree.is_leaf==True:
        return 1
    return 1 + count_nodes(tree.left_tree) + count_nodes(tree.right_tree)

In [94]:
small_data_decision_tree = build_tree(train_df, features, 'safe_loans', max_depth = 3)
if count_nodes(small_data_decision_tree) == 13:
    print ('Test passed!')
else:
    print ('Test failed... try again!')
    print ('Number of nodes found                :', count_nodes(small_data_decision_tree))
    print ('Number of nodes that should be there : 13')

--------------------------------------------------------------------
Subtree, depth = 0 (37224 data points).
Split on feature term_ 36 months. (9223, 28001)
--------------------------------------------------------------------
Subtree, depth = 1 (9223 data points).
Split on feature grade_A. (9122, 101)
--------------------------------------------------------------------
Subtree, depth = 2 (9122 data points).
Split on feature grade_B. (8074, 1048)
--------------------------------------------------------------------
Subtree, depth = 3 (8074 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 3 (1048 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 2 (101 data points).
Split on feature emp_length_n/a. (96, 5)
--------------------------------------------------------------------
Subtree, depth = 3 (96 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 3 (5 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 1 (28001 data points).
Split on feature grade_D. (23300, 4701)
--------------------------------------------------------------------
Subtree, depth = 2 (23300 data points).
Split on feature grade_E. (22024, 1276)
--------------------------------------------------------------------
Subtree, depth = 3 (22024 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 3 (1276 data points).
Reached maximum depth. Stopping for now.
--------------------------------------------------------------------
Subtree, depth = 2 (4701 data points).
Split on feature grade_A. (4701, 0)
Creating leaf node.
Test passed!

## 3. Using information gain to split the tree node

In [53]:
## function 1: calculate the information_gain

def information_gain(X,Y):
    """
    This function is used to calculate the information gain: H(D) - H(D|A), where A is any feature of the original dataset.
    This is only used to calculate the discrete feature values!!
    
    input: X: A column from the original dataset, shape = (n,)
           Y: Target column of the original dataset, shape = (n,)
    outpyt: float, the information gain
    """
    
    ## D is the number of samples
    D = X.shape[0]
    
    assert D== Y.shape[0]
    
    ## n is the number of different values in X
    uniquex = np.unique(X)
    n = len(uniquex)
    
    ## unique y
    uniquey = np.unique(Y)
    
    ## For the contitional entropy calculation c_entropy
    c_entropy = 0
    for i in uniquex:
        
        ## number of samples for x= xi
        Di = np.sum(X == i)
        
        Hyx = 0
        for j in uniquey:
            Dik = np.sum(X[Y == j] == i)
            if Dik == 0:
                Hyx = Hyx
            else:
                Hyx = Hyx - (Dik/Di)*np.log2(Dik/Di)
        
        
        c_entropy = c_entropy + (Di/D)*Hyx
        
    
    ## For the entropy calculation
    H = 0
    for yy in uniquey:
        Dy = np.sum(Y == yy)
        if Dy == 0:
            H = H
        else:
            H = H - (Dy/D)*np.log2(Dy/D)
        
    return (H-c_entropy)

In [61]:
## find the best feature for the splitting

def find_feature(dataset,target):
    """
    This function picks up the best features from the feature set based on the information gain
    This is only used to calculate the discrete feature values!!
    
    input: dataset: training set of data, shape = (n,m)
           target:  the y value, shape = (n,)
    output: feature index, integer
    """
    
    best_feature=None   ## initialize the best feature 
    max_gain = -np.inf  ## initialize the maximum information gain
   
    num_of_data=dataset.shape[0]      ## number of samples
    num_of_feature = dataset.shape[1] ## number of features
    
    ## loop over all 
    for feature in range(num_of_feature):
        
        gain = information_gain(dataset[:, feature], Y)
        
        if gain > max_gain:
            max_gain = gain
            best_feature = feature
    
    return best_feature

In [62]:
import dataset as dt
df = dt.load_loan()

X = df.data
Y = df.target

In [63]:
find_feature(X, Y)

2

In [64]:
df.feature_names[find_feature(X, Y)]

'has_house'